[submodule "make_gadgets"]
	path = make_gadgets
	url = git@github.com:DLR-TS/make_gadgets.git
[submodule "apt_cacher_ng_docker"]
	path = apt_cacher_ng_docker
	url = git@github.com:DLR-TS/apt_cacher_ng_docker.git
