[submodule "make_gadgets"]
	path = make_gadgets
	url = git@github.com:DLR-TS/make_gadgets.git
[submodule "catkin_docker"]
	path = catkin_docker
	url = git@github.com:DLR-TS/catkin_docker.git
[submodule "plotlabserver"]
	path = plotlabserver
	url = git@github.com:DLR-TS/plotlabserver.git
[submodule "apt_cacher_ng_docker"]
	path = apt_cacher_ng_docker
	url = git@github.com:DLR-TS/apt_cacher_ng_docker.git
[submodule "adore_if_ros"]
	path = adore_if_ros
	url = git@github.com:DLR-TS/adore_if_ros.git
[submodule "ci_teststand"]
	path = ci_teststand
	url = git@github.com:DLR-TS/ci_teststand.git
[submodule "adore_scenarios"]
	path = adore_scenarios
	url = git@github.com:DLR-TS/adore_scenarios.git
